<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>Forget password?</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="forgetPasswordForm">
    <div fxFlex fxLayout="column">
      <mat-form-field fxFlex>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required="true" />
        <mat-error
          *ngIf="
            forgetPasswordForm.get('email')?.invalid && forgetPasswordForm.get('email')?.dirty
          "
        >
          <span *ngIf="forgetPasswordForm.get('email')?.hasError('required')"
            >This field is required</span
          >
          <span *ngIf="forgetPasswordForm.get('email')?.hasError('email')"
            >This field is invalid</span
          >
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="handleSubmit()"
    [disabled]="!(forgetPasswordForm.valid && forgetPasswordForm.dirty)"
  >
    <mat-icon></mat-icon> Send Password
  </button>
  <button mat-raised-button color="warn" mat-dialog-close><mat-icon></mat-icon>Close</button>
</mat-dialog-actions>
